logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
**/.env
**/.venv
**/__pycache__
# Ignore all the auido file with different extensions
**/*.wav
**/*.m4a
**/*.ogg
**/*.webm
**/*.mpeg
**/*.mpga
**/*.mp4
**/*.m4v
**/*.m4b
**/*.m4p